<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
	<title>Worksheet</title>

	<!-- Foundation -->
	<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
	<script src="js/vendor/modernizr.js"></script>

</head>
<body>
	<div class="large-4 large-centered columns" style="margin-top: 30px;">
		<% if params[:alert] %>
			<div data-alert class="alert-box alert round">
			  	<%= params[:alert] %>
			  <a href="#" class="close">&times;</a>
			</div>
		<% end %>
		<form class="custom" action="/worksheet" method="post">
			<div class="row">
				<div class="large-12 columns">
					<label> Login: 
						<input type="text" autofocus required name="login">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<label> Senha: 
						<input type="password" autofocus required name="password">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<label> De: 
						<input type="date" name="from" required>
					</label>	
				</div>
				
				<div class="large-6 columns">
					<label> At&eacute;: 
						<input type="date" name="to" required>
					</label>	
				</div>
			</div>
			<div class="row">
				<div class="large-6 large-centered columns">					
					<button type="submit" class="nice blue radius button">Gerar Folha de Horas</button>
				</div>
			</div>
		</form>
	</div>

	<!-- Foundation configs -->
	<script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script> $(document).foundation();
	  	yepnope({ /* included with Modernizr */
		  test : Modernizr.inputtypes.date,
		  nope : {
		    'css': '/path-to-your-css/jquery-ui-1.10.3.custom.min.css',
		    'js': '/path-to-your-js/jquery-ui-1.10.3.datepicker.min.js'
		  },
		  callback: { // executed once files are loaded
		    'js': function() { $('input[type=date]').datepicker({dateFormat: "yy-mm-dd"}); } // default HTML5 format
		  }
		});
  </script>
</body>
</html>