<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
	<title>Worksheet</title>

	<!-- Foundation -->
	<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/custom.css">
	<script src="js/vendor/modernizr.js"></script>

</head>
<body>
	<div class="large-12 large-centered columns" style="margin-top: 15px; text-align: center;">

		<% if @users_time_entries.empty? %>
			<h4>Não há registro de horas para o período especificado</h4>
		<% else %>
			<h3> Todos os projetos </h3>
			<%= erb :total_workload_table %>
			<h3> Por usuário </h3>
			<%= erb :workloads_table %>
		<% end %>

	</div>
</body>